__pycache__/socketLib.cpython-37.pyc
.idea/workspace.xml
test
__pycache__/fileManagementLib.cpython-37.pyc
clients_jobs/*
.vscode/*
source/lib/__pycache__/*
source/worker/__pycache__/*.pyc
source/worker/jobs/*
source/manager/jobs/*
source/client/jobFile*
doc/*
source/lib/mysql/*
